body {
  text-align: center;
  padding-bottom: 40px;
  background-image: linear-gradient(to left,purple, lightpink,purple);
}

.hero {
  margin: 10px auto;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 80%;
  background-image: linear-gradient(to right, lightgreen, lightblue,lightgreen );
}

.landing-content {
  margin: 20px auto;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 80%;
  background-image: linear-gradient(to right, lightgreen, lightblue,lightgreen );
}

img {
  max-width: 240px;
}

.hiddenClass {
  display: none;
}

.people-list {
  max-width: 50%;
  margin: auto;
}

div {
  max-width: 600px;
  margin: auto;
}